<mat-accordion *ngIf="!!album" class="album-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ album.name }}
            </mat-panel-title>
            <mat-panel-description>
                <p>{{ album.trackCount }} tracks</p>
                <p>{{ album.duration.substring(0, album.duration.indexOf('.')) }}</p>
                <p>{{ album.year }}</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="table">
            <!-- <thead>
                <tr class="text-center text-uppercase">
                    <th>#</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Year</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let track of album.tracks">
                    <td>{{ track.number.toString().padStart(2, '0') }}</td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.duration.substring(0, track.duration.indexOf('.')) }}</td>
                    <td>{{ track.year }}</td>
                </tr>
            </tbody>
        </table>
    </mat-expansion-panel>
</mat-accordion>