<div *ngIf="!!artist" class="container">
    <div class="row">
        {{artist.name}}
    </div>
    <div class="row">
        {{getLocation()}}
    </div>
    <div class="row">
        <table class="table">
            <tbody>
                <th>Name</th>
                <th>Duration</th>
                <th>Year</th>
                <tr *ngFor="let album of artist.albums">
                    <td>{{ album.name }}{{ album.isIncomplete ? '&#xA60E;' : ''}}</td>
                    <td>{{ album.duration.substring(0, album.duration.indexOf('.')) }}</td>
                    <td>{{ album.year }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>