.mat-row:hover {
  border-color: currentColor;
}

.selected {
  background: green;
}

.mat-column-name {
  flex: 0 0 50%;
}
.mat-column-location {
  flex: 0 0 35%;
}
// .mat-column-albums {
//   width: 60px;
//   text-align: right;
// }
// .mat-column-year {
//   width: 120px;
//   text-align: right;
// }